@use "../base/variables" as v;

.contacts-book {
  display: flex;
  gap: 15px;
  align-items: center;

  &__logo {
  }

  &__text {
    color: v.$contacts-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}
