$base-color: #f6f7f9;
$header-color: #ffffff;

$contacts-color: #005bfe;
$btn-hover-color: #0047c6;
$add-contact-color: #f81155;
$add-contact-hover-color: #d1003e;
$add-group-bg: rgba(0, 91, 254, 0.1);
$text-color: #000000;
$input-bg-color: rgba(0, 0, 0, 0.05);
